<%- include ('./general/header'); %> 
<body class="bg3 index">   
    <div class="container main bg3">        
        <div class="index-div">
            <button href="/login" id="enter" class="btn btn-light">Ingresar</button>
        </div> 
     </div>     
</body>

