
<%- include ('./general/header'); %>
<body>
  <div
    class="d-flex align-items-center justify-content-center"
    style="text-align: center"
  >
    <div>
      <div id="home">
        <h1>My Desk</h1>
        <p>Reservá facil tu puesto de trabajo</p>
        <a href="/users/login" type="button" class="btn btn-lg btn-primary">
          Iniciar sesión
        </a>
      </div>
    </div>
  </div>
</body>
