<%- include ('../general/header') %>
<%- include ('../general/navbar') %> 
<body>
    <% include ('../general/navbar'); %> 
    <script src="./scripts/date-picker.js"></script>
    <!--<script src="../scripts/get-type.js"></script>-->
    <div class="container">
        <h2 class="text-center">Solicitar turno</h2>
        <form action="/reserva/nueva" method="POST">
            <input type="text" name="tipo" value=<%=tipo%>>
            <input type="text" name="usuario_id" value=<%=rows[0].id_usuario%>>
            <br>            
            <label for="date" class="form-label">Seleccione una fecha: </label>
            <input type="date" name="fecha" class="form-control">
            <br>    
            <button class = "btn btn-secondary" id ="updateList" type="submit">Reservar</button>                
        </form>
        <br>       
    </div>
</body>