<%- include ('../general/header'); %>
<body>
    <% include ('../general/navbar'); %> 
    <script src="../scripts/date-picker.js"></script>
    <script src="../scripts/get-type.js"></script>    
    <div class="container">
        <h2 class="text-center">Solicitar turno</h2>
        <form action="/reserva/nueva" method="POST">	
            <label class="form-control" id="strTipo"></label>
            <br>
            <input type="hidden" id= "tipo">
            <label for="date" class="form-label">Seleccione una fecha: </label>
            <input type="date" id="date" value="fecha" class="form-control">
            <br>    
            <button class = "btn btn-secondary" id ="updateList" type="submit">Actualizar lista</button>                
        </form>
        <br>
        <form action= "" method = "post">
            <h3 id="dateOutput" class="text-start"></h3>            
            <script src="../scripts/get-available.js"></script> 
            <!-- aca se va a mostrar la lista de turnos disponibles -->  
            <table class="table table-hover" id="lista-espacios">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Piso</th>
                    <th scope="col"></th>                    
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>  
        </form>           
    </div>
</body>