<%- include ('../general/header') %>
<body>
  <%- include('../general/navbar') %>
  <!--Inicia Tipos de oficina-->
  <div class="container text-center">
    <div class="div-hola">
      <h1>Hola, <%=rows[0].nombre%></h2>
      <h3>Puestos disponibles</h3>
    </div>

    <div class="row mb-2">

      <article class="col-lg-4 col-md-6 card-reserva">
        <div class="padingprod shadow-sm">
          <div class="row g-0 rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
            <div class="col-4 nop">
              <img
                class="img1"
                style="width: 100%;"
                src="/images/escritorio_indiv.jpg"
                alt=""
              />
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h2 class="mb-0 titulo1">Escritorio individual</h2>
              <p class="card-text mb-auto">  
                Reserva individual de 8 hs con multiples beneficios  
              </p>
            </div>            
          </div>
          <div class="text-center">
            <a class="btn btn-primary" href="/reserva/ver/1">Reservar</a>
          </div>
        </div>
      </article>

      <article class="col-lg-4 col-md-6 card-reserva">
        <div class="padingprod shadow-sm">
          <div class="row g-0 rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
            <div class="col-4 nop">
              <img
                class="img1"
                style="width: auto; height: auto"
                src="/images/oficina-privada.png"
                alt=""
              />
            </div>
            <div class="col p-5 d-flex flex-column position-static">
              <h2 class="mb-0 titulo1">Mesa para 4 personas</h2>
              <p class="card-text mb-auto"> Ideal para trabajar en equipo </p>              
            </div>
          </div>
          <div class="text-center">
            <a class="btn btn-primary" href="/reserva/ver/2">Reservar</a>
          </div>
        </div>
      </article>

      <article class="col-lg-4 col-md-6 card-reserva">
        <div class="padingprod shadow-sm">
          <div class="row g-0 rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
            <div class="col-4 nop">
              <img
                class="img1"
                style="width: 110%; height: auto;"
                src="/images/sala-reuniones.jpg"
                alt=""
              />
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h2 class="mb-0 titulo1">Sala de reuniones</h2>
              <p class="card-text mb-auto">
                Espacio amplio para presentaciones
              </p>
            </div>
          </div>
          <div class="text-center" style="margin: 10px;">
            <a class="btn btn-primary" href="/reserva/ver/3">Reservar</a>
          </div>
        </div>
      </article>

    </div>
  </div>
  <%- include('../general/footer') %>
  <!--Termina Tipos de oficina-->
</body>
</html>