<%- include ('./general/header') %> <%- include
('./general/navbar'); %>
<body>
  <!--Inicia Tipos de oficina-->
  <div class="container">
    <div class="div-hola">
      <h2>Hola, Juan</h2>
      <p>Puestos disponibles</p>
    </div>

    <div class="row mb-2">
      <article class="col-lg-6 card-reserva">
        <div class="padingprod">
          <div
            class="
              row
              g-0
              border
              rounded
              overflow-hidden
              flex-md-row
              mb-4
              shadow-sm
              h-md-250
              position-relative
            "
          >
            <div class="col-4 nop">
              <img
                class="img1"
                style="width: auto; height: auto"
                src="/images/imgA.png"
                alt=""
              />
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h2 class="mb-0 titulo1">Puesto individual</h2>
              <p class="card-text mb-auto">
                Reserva individual de 8 hs con multiples beneficios
              </p>
              <div class="row">
                <div class="col-6 puesto-disponible">
                  <p>7 disponibles</p>
                </div>
                <div class="col-6">
                  <a class="btn btn-primary" href="/reserva/ver?tipo=1"
                    >Reservar</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="col-lg-6 card-reserva">
        <div class="padingprod">
          <div
            class="
              row
              g-0
              border
              rounded
              overflow-hidden
              flex-md-row
              mb-4
              shadow-sm
              h-md-250
              position-relative
            "
          >
            <div class="col-4 nop">
              <img
                class="img1"
                style="width: auto; height: auto"
                src="/images/oficina-privada.png"
                alt=""
              />
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h2 class="mb-0 titulo1">Oficina privada</h2>
              <p class="card-text mb-auto">
                Reserva individual de 8 hs con multiples beneficios
              </p>
              <div class="row">
                <div class="col-6 puesto-disponible">
                  <p>7 disponibles</p>
                </div>
                <div class="col-6">
                  <a class="btn btn-primary" href="/reserva/ver?tipo=2"
                    >Reservar</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  <!--Termina Tipos de oficina-->
</body>
