<% for(var i=0; i<rows.length; i++) {%>
    <tr>
        <td class="rows">
            <%= rows[i].id_puesto %>
        </td>
        <td class="rows">
            <%= rows[i].caracteristica %>
        </td>
        <td class="rows">
            <%= rows[i].num_puesto %>
        </td>
        <td class="rows">
            <%= rows[i].estado %>
        </td>
    </tr>
    <% } %>