<% for(var i=0; i<rows.length; i++) {%>
    <tr>
        <td class="rows">
            <%= rows[i].id_usuario %>
        </td>
        <td class="rows">
            <%= rows[i].nombre %>
        </td>
        <td class="rows">
            <%= rows[i].legajo %>
        </td>
        <td class="rows">
            <%= rows[i].mail %>
        </td>
        </tr>
        <% } %>