
<% for(var i=0; i<rows.length; i++) {%>

<tr>
    <td scope="col"><%= rows[i].id_puesto %></td>
    <td scope="col"><%= rows[i].caracteristica %></td>
    <td scope="col"><%= rows[i].num_puesto %></td>
    <td scope="col"><%= rows[i].estado %></td>
    <% } %>
  </tr>