<%- include('../general/header') %>
  <%- include ('../general/navbar') %>

    <body>
      <main>
        <div class="container">
          <h2 class="text-center">Listado de usuarios</h2>
          <table class="table table-hover" id="lista-usuarios">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Legajo</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <%- include('../user/includes/user-list') %>
            </tbody>
          </table>
        </div>
      </main>
      <%- include('../general/footer') %>
    </body>

    </html>